<!-- templates/index.html -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>What is happening in your Feed ?</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='main.min.css') }}"
    />
  </head>
  <body class="bg-blue-200">
    <div class="container p-2 mx-auto">
      <div class="flex flex-row">
        <aside class="hidden lg:block lg:w-1/4 px-2">
          <div class="sticky top-0 p-4 bg-blue-100 rounded-xl w-full">
            <span class="fa fa-home mr-2"></span>
            <b class="text-purple-800">Trending When ?</b>
            <ul class="nav flex flex-col overflow-hidden">
              <li class="nav-item">
                <a
                  class="nav-link text-purple-800 hover:text-purple-600 truncate"
                  href="?when=today"
                >
                  <span class="fa fa-home mr-6"></span> Today
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-purple-800 hover:text-purple-600 truncate"
                  href="?when=thisweek"
                >
                  <span class="fa fa-home mr-6"></span> This Week
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-purple-800 hover:text-purple-600"
                  href="?when=thismonth"
                >
                  <span class="fa fa-home mr-6"></span> This Month
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <main role="main" class="lg:w-3/4">
          <div class="flex flex-row flex-wrap gap-4 sm:scale-505 sm:w-full">
            <!--Card 1-->
            {% for row in response %}
            <div class="bg-white min-w-full rounded overflow-hidden shadow-lg">
              <div class="px-6 py-4">
                <a
                  class="nav-link text-purple-800 hover:text-purple-600"
                  href="{{ row.url }}"
                >
                  <h5
                    class="text-gray-900 md:text-6xl lg:text-lg leading-tight font-medium mb-2"
                  >
                    {{ row.title }}
                  </h5>
                </a>
                <p
                  class="text-gray-700 lg:text-sm md:text-4xl whitespace-normal"
                >
                  {{ row.description }}
                </p>
              </div>

              <div class="px-6 pt-4 pb-2">
                <span>
                  Source:
                  <p
                    class="text-purple-800 hover:text-purple-600"
                    href="{{ row.feed_url }}"
                  >
                    {{ row.feed }}
                  </p>
                </span>
              </div>
            </div>
            {% endfor %}
          </div>
          <nav aria-label="Page navigation example">
            <ul class="inline-flex mt-4 -space-x-px">
              <li>
                {% if previous is not none %}
                <a
                  href="?offset={{ previous }}&when={{ when }}"
                  class="lg:text-sm md:text-2xl bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 ml-0 rounded-l-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                  >Previous</a
                >
              </li>
              {% endif %} {% if next %}
              <li>
                <a
                  href="?offset={{ next }}&when={{ when }}"
                  class="lg:text-sm md:text-2xl bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 rounded-r-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                  >Next</a
                >
              </li>
              {% endif %}
              <li>
                <span class="m-5 lg:text-sm md:text-2xl" x-text="count"
                  >Total Articles: {{ total }}</span
                >
              </li>
            </ul>
          </nav>
        </main>
      </div>
    </div>
  </body>
</html>
