<!-- templates/index.html -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>What is happening in your Feed ?</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='main.min.css') }}"
    />
  </head>
  <body class="bg-blue-200">
    <div
      x-data="{ sidebarOpen: false }"
      class="flex overflow-x-hidden h-screen flex-row"
    >
      <aside
        class="flex-shrink-0 w-64 flex flex-col transition-all duration-300 mt-4"
        :class="{ '-ml-64': !sidebarOpen }"
      >
        {% if category %} {% set url_category='&category='+category %} {% endif
        %}`
        <div class="flex flex-row">
          <nav
            class="flex-1 flex flex-col p-4 bg-blue-100 rounded-xl w-full h-full"
          >
            <span class="fa fa-home mt-4"></span>
            <b class="lg:text-lg md:text-4xl text-purple-800">When ?</b>
            <a
              class="p-2 lg:text-lg md:text-4xl text-purple-800 hover:text-purple-600 truncate"
              href="?when=today{{ url_category }}"
            >
              Today
            </a>
            <a
              class="p-2 lg:text-lg md:text-4xl text-purple-800 hover:text-purple-600 truncate"
              href="?when=thisweek{{ url_category }}"
            >
              This Week
            </a>
            <a
              class="p-2 lg:text-lg md:text-4xl text-purple-800 hover:text-purple-600 truncate"
              href="?when=thismonth{{ url_category }}"
            >
              This Month
            </a>
          </nav>
        </div>
        <div class="flex flex-row">
          <nav
            class="flex-1 flex flex-col p-4 bg-blue-100 rounded-xl w-full h-full"
          >
            <span class="fa fa-home mt-4"></span>
            <b class="lg:text-lg md:text-4xl text-purple-800">Category ?</b>
            {% for category in available_categories %}
            <a
              class="p-2 lg:text-lg md:text-4xl text-purple-800 hover:text-purple-600 truncate"
              href="?when={{ when }}&category={{ category }}"
            >
              {{ category.capitalize() }}
            </a>
            {% endfor %}
          </nav>
        </div>
      </aside>
      <div class="flex-1 m-4">
        <header
          class="flex items-center p-4 text-semibold text-gray-100 bg-gray-900"
        >
          <button class="p-1 mr-4" @click="sidebarOpen = !sidebarOpen">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="lg:h-6 lg:w-6 md:h-10 md:w-10"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
          </button>
        </header>
        <main role="main">
          <div class="flex flex-row flex-wrap gap-4 sm:scale-505 sm:w-full">
            {% for row in response %}
            <div class="bg-white min-w-full rounded overflow-hidden shadow-lg">
              <div class="px-6 py-4">
                <a
                  class="nav-link text-purple-800 hover:text-purple-600"
                  href="{{ row.url }}"
                >
                  <h5
                    class="text-gray-900 md:text-6xl lg:text-lg leading-tight font-medium mb-2"
                  >
                    {{ row.title }}
                  </h5>
                </a>
                <p
                  class="text-gray-700 lg:text-sm md:text-4xl whitespace-normal"
                >
                  {{ row.description }}
                </p>
              </div>

              <div class="px-6 pt-4 pb-2">
                <span class="lg:text-sm md:text-2xl">
                  Source:
                  <a
                    class=" text-purple-800 hover:text-purple-600"
                    href="{{ row.url }}"
                  >
                    {{ row.feed }}
                  </a>
                </span>
              </div>
              <div class="px-6 pt-4 pb-2">
                <span>
                  {% for category in row.categories %}
                  <span
                    class="lg:text-sm md:text-4xl font-semibold inline-block py-1 px-2 uppercase rounded bg-blue-200 uppercase last:mr-0 mr-1"
                  >
                    <a href="?when={{ when }}&category={{ category }}">
                      {{ category }}
                    </a>
                  </span>
                  {% endfor %}
                </span>
              </div>
            </div>
            {% endfor %}
          </div>
          <nav>
            <ul class="flex row mt-4 -space-x-px gap-1">
              <li>
                {% if previous is not none %}
                <a
                  href="?offset={{ previous }}&when={{ when }}"
                  class="lg:text-sm md:text-4xl bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 ml-0 rounded-l-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                  >Previous</a
                >
              </li>
              {% endif %} {% if next %}
              <li>
                <a
                  href="?offset={{ next }}&when={{ when }}"
                  class="lg:text-sm md:text-4xl bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 rounded-r-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                  >Next</a
                >
              </li>
              {% endif %}
              <li>
                <span class="lg:text-sm md:text-4xl text-gray-900"
                  >Total Articles: {{ total }}</span
                >
              </li>
            </ul>
          </nav>
        </main>
      </div>
    </div>
    <script src="//unpkg.com/alpinejs" defer></script>
  </body>
</html>
